extends ../../welcome

block title
    title about me
block content
    content.content
        .content__wrapper
            h1 about me
            p.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Ipsam ut reiciendis incidunt illo velit quis, fugit explicabo quas! 
                Quam molestias praesentium vitae inventore ipsa culpa repellendus 
                maxime voluptatum ad enim!