@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background: #3d3d3d;
    color: #fae4ab;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    font-weight: 400;
}

.footer {
    font-size: 16px;
    display: flex;
    justify-content: center;

    .footer__wrap {
        width: 700px;
        text-align: center;
        border-top: 1px solid #575656;
        padding: 50px 20px;

        @media screen and(max-width: 767px) {
            width: calc(100% - 40px);
        }
    }
}