doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        block title
    body
        header.header
            nav.menu
                .menu__wrapper

        block content

        footer.footer
            .footer__wrap
                p &copy webpack-app 2021